$color-gray: #757575;
$color-blue: #2196f3;
$color-white: #ffffff;
$color-black: #212121;
$color-link-footer: #ffffff99;
$background-color: #2f303a;
$color-light-violet: #f5f4fa;
$color-projects-border: #eeeeee;
$color-icon: #afb1b8;
$color-icon-footer: #ffffff1a;
$font-main: Roboto, sans-serif;
$font-logo: Raleway, sans-serif;
